<p style="color: green"><%= notice %></p>

<h1>Posts</h1>


  <% @posts.each do |post| %>
    <tr>
            <td><%= post.username %></td>
            <td><%= post.descripcion %></td>
            <td></td>
        </tr>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    
  <% end %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<%= link_to "New post", new_post_path %>
